@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

.window-mask{
  mask-image: linear-gradient(black,black),url('../assets/window.svg');
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-size: auto,295px auto;
  mask-position: center center, center right 9rem;
  -webkit-mask-position:center center, center right 82px;


}

.hero-background{
  background-image: linear-gradient(to top, rgb(255, 255, 255) 1%, transparent 99%),url('../assets//images/fantastic-blue-sky.jpg');
  background-repeat: no-repeat;
}
.page-background{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.677) 30%, rgba(255, 255, 255, 0.162) 70%),url('../assets/images/airplaneEvening.webp');
  background-repeat: no-repeat;
  background-size: cover;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
